<template>
  
  <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement"
    data-original-class="toast-container position-absolute p-3">
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade hide" data-bs-autohide="false">
      <div class="toast-header">  
        <strong class="me-auto">DocumentMaid</strong>
        <small>${toastMessage.title}</small>        
          <button type="button" class="btn-close" data-bs-dismiss="toast"  aria-label="Close"></button>        
      </div>
      <div class="toast-body">
        ${toastMessage.message}        
      </div>
    </div>
  </div>

</template>
